<div class="variant-dashboard-container">
    <div class="variant-dashboard-header">
        Variants
    </div>
    <div class="variant-selection-container">
        Variant Framework Code:
        <select [(ngModel)]="selectedVariant" (ngModelChange)="onChanged()">
            <option [ngValue]="i" *ngFor="let item of variantList, let i = index">{{item.variantCode}}</option>
            <option [ngValue]="'addNew'">Add new Variant</option>
        </select>
    </div>
    <div class="variant-list-container" *ngIf="selectedIndex !== -1">
        <div class="variant-container" *ngFor="let variant of variantList[selectedIndex].attributeList, let i = index">
            <div class="variant-header">
                {{variant.name}}
            </div>
            <div class="variant-checkbox-container">
                <label class="container" *ngFor="let attribute of variant.list">
                    <input type="checkbox" (input)="checkBoxChecked($event, attribute, i)">{{attribute}}
                </label>
            </div>
        </div>
    </div>
    <div class="combination-container">
        <table>
            <tr>
                <th>Sl.No</th>
                <th>CombinationList</th>
            </tr>
            <tr *ngFor="let combos of combinationList, let count=index">
                <td>{{count + 1}}</td>
                <td><span *ngFor="let combo of combos">{{combo}}/</span></td>
            </tr>
        </table>
    </div>
</div>